.sidebar {
    height: 100vh;
    background-color: white;
    border-right: solid 2px grey;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    cursor: default;
}

#sidebar-pc {
    min-width: 20vw;
    width: 380px;
}

#sidebar-mobile {
    min-width: 90vw;
}

#sidebar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-bottom: solid 2px grey;
}

#close-sidebar {
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: clamp(1.5rem, 3vw, 2rem);
    width: clamp(2rem, 3vw, 2.5rem);
    height: clamp(2rem, 3vw, 2.5rem);
    background-color: var(--purple);
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s;
}

#close-sidebar:hover {
    scale: 1.1;
}

#close-sidebar svg {
    font-size: clamp(1rem, 1.5vw, 2rem);
    flex-shrink: 0;
}

#chat-history {
    margin-left: 5px;
    margin-right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#no-chat-history {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chat-title {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat-title:hover {
    background-color: rgb(179, 178, 178);
}

.chat-title p {
    padding: 0;
    margin: 0;
}

.chat-title svg:hover {
    color: red;
    scale: 1.5;
}